@page
@model IndexModel
@{
    ViewData["Title"] = "Matrix Inc. Home";
}

<link rel="stylesheet" href="~/css/homepage.css" />

<div class="promo-banner container text-center my-4">
    <img src="~/images/banners/banner-schroevendeal.png" class="img-fluid rounded-4" alt="25% korting banner" />
</div>

<div class="container popular-products">
    <h2 class="mb-1 mt-5 text-left">
        Onze <span class="fw-bold text-decoration-underline">veelgebruikte</span> producten:
    </h2>

    @* Producten *@
    <div class="row justify-content-center g-4">

        <div class="col-6 col-sm-4 col-md-3 text-center">
            <div class="product-box p-3">
                <a href="/Product/Details/1" class="text-decoration-none text-dark">
                    <img src="~/images/products/diepgroefkogellagers-small.png" alt="Diepgroefkogellagers" class="img-fluid rounded-4 mb-2" />
                    <div class="fw-semibold small product-text">Diepgroefkogelballen</div>
                </a>
                <div class="fw-bold product-price">€5,99/10st</div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 text-center">
            <div class="product-box p-3">
                <a href="/Product/Details/2" class="text-decoration-none text-dark">
                    <img src="~/images/products/moertjes-small.png" alt="Moertjes" class="img-fluid rounded-4 mb-2" />
                    <div class="fw-semibold small product-text">Moertjes</div>
                </a>
                <div class="fw-bold product-price">€2,99/25st</div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 text-center">
            <div class="product-box p-3">
                <div class="placeholder-box bg-danger rounded-4 mb-2"></div>
                <div class="placeholder-text bg-light rounded-3"></div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 text-center">
            <div class="product-box p-3">
                <div class="placeholder-box bg-danger rounded-4 mb-2"></div>
                <div class="placeholder-text bg-light rounded-3"></div>
            </div>
        </div>
    </div>
</div>
