@page
@model KE03_INTDEV_SE_1_Base.Pages.Index1Model
@{
    ViewData["Title"] = "Nog niet geïmplementeerd";
}


<div class="container text-center py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="mb-4">
                <i class="bi bi-tools display-1 text-warning"></i>
            </div>

            <h1 class="display-5 fw-bold">OEPS! Deze pagina is (nog) niet geimplementeerd</h1>
            <p class="lead text-muted mt-3">
                Deze functie is nog niet geïmplementeerd. Mss komt hij ooit
            </p>

            <a href="/" class="btn btn-outline-secondary mt-4">
                <i class="bi bi-arrow-left"></i> Terug naar home
            </a>
        </div>
    </div>
</div>

